@import './base.css';

body {
  background: linear-gradient(to bottom, var(--white) 40%, var(--secondary));
  font-family: Manrope, sans-serif;
}

nav {
    background: var(--secondary);
    text-align: center;
    position: sticky;
    top: 0px;
  }

h1, h2, h3 {
  color: var(--primary);
}

header {
    background: radial-gradient(circle, var(--primary) 35%, var(--tertiary));
    text-align: center;
  }


#intro {
  text-align: center;
  font-weight: bold;
}

.newsCard {
  background: var(--white);

  padding: 15px;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 40px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}
